.Rproj.user
.Rhistory
.RData
/tests/testthat/*.pdf
/temp_docs
/temp_vignettes
/temp_scripts
/temp_code
inst/doc/*
!inst/doc/brr-paper_01.pdf
!inst/doc/brr-BasicUsage.pdf
paper
vignettes_sources
temp_release